<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="ntfDb" connectionString="Data Source=(local);Initial Catalog=NTFDB;User ID=sa;Password=anchor12/2012" providerName="System.Data.SqlClient" />
    <!-- <add connectionString="Data Source=ANCHORDATAWARES;Initial Catalog=NTFDB;Integrated Security=True" name="ntfDb" providerName="system.data.sqlclient"/> -->

  </connectionStrings>
  <appSettings>
    <add key="mail" value="bigdaddy2030@gmail.com"/>
    <add key="password" value="lifecamp"/>
    <add key="displayName" value="NTF"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>